.transactions {
  padding: 2rem;
  // display: flex;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 12% 88%;
  background-color: rgba(240, 240, 240, 0.1);
  width: 100%;
}

.duration {
  display: flex;
  justify-content: space-between;
  grid-column: span 3;
  background-color: white;
}

.summary {
  display: grid;
  gap: 2rem;
}

.more {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 2.5rem;
  display: grid;
  place-items: center;
}
