.playground {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  // Ready to Redux
  p {
    color: #333;
    margin: 0.8rem 0;
  }

  // 0
  span {
    margin: 0 1rem;
    display: inline-block;
    width: 1.2rem;
  }

  // + -
  button {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 4rem;
    background-color: white;
    padding: 0.2rem 1rem;
    vertical-align: middle;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    &:hover {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }
}
